<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>People</title>
</head>
<body>
<br/><br/>
<a href='/add'>Add person</a>&nbsp;&nbsp;<a href='/search'>Search person</a>

</body>
</html>